{% load static%}
<!DOCTYPE html>
<html>

<head>
    <title>CAOS NEWS POLITICA</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/estilosn.css'%}">
    <link rel="stylesheet" href="{% static 'css/estilos.css'%}">
<body>
    <div class="container__menu">

        <div class="menu">
            <input type="checkbox" id="check__menu">
            <label id="#label__check" for="check__menu">
                <i class="fa-solid fa-bars icon__menu"></i>
            </label>
            <nav>
                <ul>
                    <li>
						<div><img src="https://i.ibb.co/D1kCz8L/logoconfondo.png" class="right" alt="logoconfondo"
								width="71px" height="71px"></div>
					</li>
                    <li><a href="{% url 'index' %}" id="">Inicio</a></li>
                    <li><a href="#">Categorias</a>
                        <ul>
                            <li><a href="{% url 'POPULAR' %}">Popular</a></li>
                            <li><a href="{% url 'POLITICA' %}">Política</a></li>
                            <li><a href="{% url 'DEPORTE' %}">Deportes</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Autores</a>
                        <ul>
                            <li><a href="{% url 'POPULAR' %}">María Plaza</a></li>
                            <li><a href="{% url 'POLITICA' %}">Isabel Caro</a></li>
                            <li><a href="{% url 'POLITICA' %}">José Wilson</a></li>
                            <li><a href="{% url 'DEPORTE' %}">César Vásquez</a></li>
                        </ul>
                    <li><a href="{% url 'Formulario' %}">Contactanos</a></li>
    
                </ul>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>El inusual paso al frente del ministro Cordero en medio de la crisis de seguridad y sus gestos a
                    Apruebo Dignidad</h1>
                <h6>Autor: Isabel Caro y José Wilson</h6>
                <h6>Fecha y ubicación: 10/04/2023 , Santiago de Chile</h6>
                <h6>Categoría: Política</h6>
                <p>A petición del propio Presidente Gabriel Boric, el ministro de Justicia asumió un rol protagónico
                    para sacar adelante la agenda de seguridad que impulsa el Ejecutivo y que tensiona la alianza de
                    gobierno. La ley Nain-Retamal fue su primera prueba de fuego y su papel en su discusión cosechó la
                    valoración de Apruebo Dignidad.</p>


                <h3>“Estoy aprendiendo los códigos de la política”</h3>
                <p>Desde ese día -tras una petición expresa del Presidente y ante la ausencia de Ana Lya Uriarte
                    (Segpres), quien sigue con licencia-, Cordero ha apoyado el despliegue de la ministra Carolina Tohá
                    en medio de la crisis, algo que no es usual para un jefe de Justicia. En esa línea, remarcan en el
                    gobierno, fue que la noche del miércoles pasado acompañó a la titular de Interior hasta la Posta
                    Central, donde a esa hora se mantenía en estado crítico el cabo Daniel Palma, cuya muerte terminó
                    por agudizar la crisis en La Moneda. Esa misma madrugada se sumaría a la reunión de emergencia que
                    citó el jefe de Estado en Palacio.

                    Pero Cordero también tuvo un rol en el Congreso. Sin ir más lejos, cuadró votos para la aprobación
                    de la ley Nain-Retamal, publicada hoy en el Diario Oficial, y luego acompañó a la ministra Tohá en
                    todas las reuniones que sostuvo el fin de semana. El viernes con ambas cámaras del Congreso y el
                    sábado con las comisiones de Seguridad del Senado y la Cámara Baja.

                    Hoy mismo se sumó a una cita liderada por la jefa del gabinete con dirigentes del Frente Amplio,
                    donde el sector le pidió al Ejecutivo mayor liderazgo respecto de una agenda de seguridad que
                    -interpretan- está imponiendo la derecha.</p>
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://www.latercera.com/resizer/7DNJFdxMTRvuUTj7nF6gZD4k5RQ=/arc-anglerfish-arc2-prod-copesa/public/4VFE2KOEDBF4NDZHIJPF6733GQ.jpg"
                            class="img-fluid" alt="Imagen 1" width="400px" height="300px"> <h7> Ministro de Justicia  Luis Cordero Vega</h7>
                    </div>
                    <div class="col-md-6">
                        <img src="https://static.emol.cl/emol50/Fotos/2023/02/16/file_20230216080824.jpg" class="img-fluid" alt="Cordero"
                            width="400px" height="300px">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
               
                <h4>Te puede interesar:</h4>
                <ul>
                    <li><a href="{% url 'index' %}">Volver al Inicio</a></li>
                    <li><a href="{% url 'DEPORTE' %}">Noticias Deportes</a></li>
                    <li><a href="{% url 'POPULAR' %}">Noticias Popular</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>


</html>

