{% load static%}
<!DOCTYPE html>
<html>

<head>
    <title>CAOS NEWS  POPULAR</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/estilosn.css'%}">
    <link rel="stylesheet" href="{% static 'css/estilos.css'%}">
</head>

<body>
    <div class="container__menu">

        <div class="menu">

            <input type="checkbox" id="check__menu">
            <label id="#label__check" for="check__menu">
                <i class="fa-solid fa-bars icon__menu"></i>
            </label>
            <nav>
                <ul>
                    <li>
						<div><img src="https://i.ibb.co/D1kCz8L/logoconfondo.png" class="right" alt="logoconfondo"
								width="71px" height="71px"></div>
					</li>
                    <li><a href="{% url 'index' %}" id="">Inicio</a></li>
                    <li><a href="#">Categorias</a>
                        <ul>
                            <li><a href="{% url 'POPULAR' %}">Popular</a></li>
                            <li><a href="{% url 'POLITICA' %}">Política</a></li>
                            <li><a href="{% url 'DEPORTE' %}">Deportes</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Autores</a>
                        <ul>
                            <li><a href="{% url 'POPULAR' %}">María Plaza</a></li>
                            <li><a href="{% url 'POLITICA' %}">Isabel Caro</a></li>
                            <li><a href="{% url 'POLITICA' %}">José Wilson</a></li>
                            <li><a href="{% url 'DEPORTE' %}">César Vásquez</a></li>
                        </ul>
                    <li><a href="{% url 'Formulario' %}">Contactanos</a></li>
    
                </ul>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>La Fiscalía de Chile extiende a todo el país el criterio de prisión preventiva para extranjeros
                    detenidos sin documento de identidad</h1>
                <h6>Autor: María Plaza</h6>
                <h6>Fecha y ubicación: 10/04/2023 , Santiago de Chile</h6>
                <h6>Categoría: Popular</h6>
                <p>La Fiscalía Nacional de Chile informó este lunes que extendió a todo el país el criterio bajo el cual
                    los fiscales que investigan delitos de homicidio puedan solicitar prisión preventiva para los
                    extranjeros que detengan y que carezcan de documento de identidad.

                    El jueves pasado, el fiscal nacional, Ángel Valencia, dio a conocer este cambio en los
                    procedimientos legales en la Región Metropolitana de Santiago, en medio de la conmoción por la
                    muerte del cabo primero Daniel Palma Yánez, integrante de Carabineros. Por este caso, la Fiscalía
                    solicitó colaboración para encontrar a dos personas, presuntamente de nacionalidad venezolana..</p>

                <p>De acuerdo con este nuevo procedimiento legal, si la persona detenida es extranjera, sin documentos y
                    no figura en el sistema, la Fiscalía solicitará la prisión preventiva hasta que se logre establecer
                    su identidad.</p>
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://media.biobiochile.cl/wp-content/uploads/2023/04/social-detenidos-sin-identidad-corroborada-1200x633.png"
                            class="img-fluid" alt="Imagen 1"> <h7> Fiscal Nacional - Angel Valencia</h7>
                    </div>
                    <div class="col-md-6">
                        <img src="https://cnnespanol.cnn.com/wp-content/uploads/2023/04/chile-prision-preventiva-extranjeros.jpg?quality=100&strip=info"
                            class="img-fluid" alt="Imagen 2"> <h7> Prisión preventiva para extrangeros por María Plaza</h7>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <h4>Te puede interesar :</h4>
                <ul>
                    <li><a href="{% url 'index' %}">Volver al Inicio</a></li>
                    <li><a href="{% url 'DEPORTE' %}">Noticias Deportes</a></li>
                    <li><a href="{% url 'POLITICA' %}">Noticias Políticas</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>

