{% load static%}
<!DOCTYPE html>
<html>

<head>
    <title>Registro</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="{% static 'css/estilos.css'%}">
    <link rel="stylesheet" href="{% static 'css/registro.css'%}">
    <script src="{% static 'js/registro.js' %}"></script>
</head>

<body>

    <header>
        <div class="container__menu">

            <div class="menu">
                <input type="checkbox" id="check__menu">
                <label id="#label__check" for="check__menu">
                    <i class="fa-solid fa-bars icon__menu"></i>
                </label>
                <nav>
                    <ul>
                        <li>
                            <div><img src="https://i.ibb.co/D1kCz8L/logoconfondo.png" class="right" alt="logoconfondo"
                                    width="71px" height="71px"></div>
                        </li>
                        <li><a href="{% url 'index' %}" id="">Inicio</a></li>
                        <li><a href="#">Categorias</a>
                            <ul>
                                <li><a href="{% url 'POPULAR' %}">Popular</a></li>
                                <li><a href="{% url 'POLITICA' %}">Política</a></li>
                                <li><a href="{% url 'DEPORTE' %}">Deportes</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Autores</a>
                            <ul>
                                <li><a href="{% url 'POPULAR' %}">María Plaza</a></li>
                                <li><a href="{% url 'POLITICA' %}">Isabel Caro</a></li>
                                <li><a href="{% url 'POLITICA' %}">José Wilson</a></li>
                                <li><a href="{% url 'DEPORTE' %}">César Vásquez</a></li>
                            </ul>
                        <li><a href="{% url 'Formulario' %}">Contactanos</a></li>
                       
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <form onsubmit="return validarRegistro();">
        <div class="container">
            <h1>Registro</h1>
            <form method="POST" name="formularioRegistro">
                <div class="form-group">
                    <label for="rut">Rut:</label>
                    <input type="number" class="form-control" id="rut" placeholder="Ingrese su rut sin puntos ni guion">
                    <span style="display: none">* Por favor ingrese su Rut como se indica</span>

                </div>
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre">
                    <span style="display: none">* Por favor ingrese su nombre</span>
                </div>
                <div class="form-group">
                     <label for="apellidos">Apellidos:</label>
                     <input type="text" class="form-control" id="apellidos" placeholder="Ingrese ambos apellidos ">
                     <span style="display: none">* Ingrese los apellidos por favor</span>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Ingresa tu email">
                    <span style="display: none">* Email incorrecto</span>
                </div>
                <div class="form-group">
                    <label for="telefono">Telefono:</label>
                    <input type="number" class="form-control" id="telefono" placeholder="Ingrese su telefono">
                    <span style="display: none">* Por favor facilite su numero despues de +56-</span>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" class="form-control" id="password" placeholder="Ingrese su contraseña que contenga una mayuscula y un caracter especial (@#$)">
                    <span style="display: none">* Contraseña incorrecta</span>
                </div>
                <button type="submit" class="btn btn-primary">Registrar</button>
                <button type="reset" class="btn btn-primary">Limpiar campos</button>
            </form>
            <script type="text/javascript">
                $(document).ready(function(){
                    $("input[type='email']").blur(function(){
                        if($(this).val() === ""){
                            $(this).next("span").show();
                        } else {
                            $(this).next("span").hide();
                        }
                    });
                });
            </script>
            <script type="text/javascript">
                $(document).ready(function(){
                    $("input[type='password']").blur(function(){
                        if($(this).val() === ""){
                            $(this).next("span").show();
                        } else {
                            $(this).next("span").hide();
                        }
                    });
                });
            </script>    
            
            <script type="text/javascript">
                $(document).ready(function(){
                    $("input#rut").blur(function(){
                        if($(this).val() === ""){
                            $(this).next("span").show();
                        } else {
                            $(this).next("span").hide();
                        }
                    });
                });
            </script>

            <script type="text/javascript">
                $(document).ready(function(){
                    $("input#nombre").blur(function(){
                        if($(this).val() === ""){
                            $(this).next("span").show();
                        } else {
                            $(this).next("span").hide();
                        }
                    });
                });
            </script>

            <script type="text/javascript">
                $(document).ready(function(){
                    $("input#apellidos").blur(function(){
                        if($(this).val() === ""){
                            $(this).next("span").show();
                        } else {
                            $(this).next("span").hide();
                        }
                    });
                });
            </script>

            <script type="text/javascript">
                $(document).ready(function(){
                    $("input#telefono").blur(function(){
                        if($(this).val() === ""){
                            $(this).next("span").show();
                        } else {
                            $(this).next("span").hide();
                        }
                    });
                });
            </script>
</script>
            
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
    integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
    integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
    crossorigin="anonymous"></script>

</html>
